@inherits LayoutComponentBase

<div class="page">
    <header class="app-header">
        <NavMenu />
    </header>

    <main class="app-main">
        <div class="container">
            <article class="content">
                @Body
            </article>
        </div>
    </main>

    <footer class="app-footer">
        <div class="container">
            <span class="footer-text">&copy; @DateTime.Now.Year Bingo-o-matic</span>
        </div>
    </footer>
</div>
